@font-face{
    font-family:'aqqxs' ;  /* 字体名自定义即可 */
    src:url('https://cdn.jsdelivr.net/gh/2x-ercha/cdn-for-try/fonts/FXAiQingQiXiangSuo.ttf'); /* 字体文件路径 */
    font-display : swap;
}

h1,h2,h3,h4,h5,h6,
a#site-name,span#subtitle,a.site-page,
a.title,
#aside-content,
a.article-sort-item-title,
a.article-title,
a.categoryBar-list-link,
a.blog-slider__title,
.article-sort-title,
.tag-cloud-title,
.category-title,
a.category-list-link {
    font-family: 'aqqxs', sans-serif;
}

/*搜索单色 */
.fa-search fa-fw{
color: #cddd94;
}

/*首页单色 */
.iconfont icon-A{
color: #595bb3;
}

/*时间轴单色 */
.icon-shijian{
color: #639bac;
}

/*友链单色 */
.icon-youqinglianjie{
color: #96faff;
}

/*生活单色 */
.icon-shenghuo{
color: #8c7a68;
}

/*照片单色 */
.icon-tupian{
color: #3c9;
}

/*动态单色 */
.icon-tubiaozhizuomoban-{
color: #ffba00;
}

/*更多单色 */
.icon-icon-test{
color: #f19149;
}

/*音乐单色 */
.icon-yinle{
color: #423851;
}

/*追番单色 */
.icon-wodezhuifan{
color: #ff5c7a;
}


/* 鼠标样式 */
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

  /* 版权字体 */
.post-copyright {
    font-family: 'aqqxs', sans-serif;
    font-size: large
}

  /* 黑夜效果 */
#hidden_element{
  display: none!important;
  visibility: hidden;
  opacity: 0;
}

  /* 全局背景效果 */
:root {
  /* --card-bg: #fff; */
  --card-bg: #f9f5f1cc;
}

  /* 昼夜的效果 */
[data-theme="dark"] {
  /* --card-bg: #121212; */
  --card-bg: #12121288;
  --btn-hover-color: #787878;
  --btn-bg: #333232cc;
  --btn-hover-color: #757474;
  --btn-bg: #333232cc;
  --page-number-background-color:: #44464580;
  /* --font-color: rgba(255,255,255,0.7); */
  /* --hr-border: rgba(255,255,255,0.4); */
  --font-color: rgb(255, 255, 255);
  --hr-border: #A4D8FA;
}

  /* 白天的效果 */
[data-theme="light"] {
  /* --card-bg: #121212; */
  --card-bg: #ffffffd6;
  --btn-hover-color: #0f0f0f70;
  --btn-bg: #7b797969;
  --btn-hover-color: #00000070;
  --btn-bg: #7b797969;
  /* --font-color: rgba(255,255,255,0.7); */
  /* --hr-border: rgba(255,255,255,0.4); */
  --font-color: #4c4948;
  --hr-border: #A4D8FA;
}


/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

    /*音乐播放器侧栏按钮缩进*/
    #fixedElement{
      position: fixed;
      width: 60px
      /* 假定宽度是60px */
      bottom: 60px;
      /* 定义元素下边框与浏览器下边框的距离 */
      left: -30px;
      /* 定义元素左边框与浏览器左边框的距离 */
      /* 此时效果上此按钮应当缩进侧栏一半 */
    }

    #fixedElement:hover{
      left: 0px;
    }

    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
      left: -66px !important;
      /* 默认情况下缩进左侧66px，只留一点箭头部分 */
    }

    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
      left: 0 !important;
      /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
    }

      /* 夜间效果 */
    [data-theme="dark"]
      #aside-content .card-widget{
          background: rgba(0, 0, 0, 0.5)!important;
        }
    [data-theme="dark"]
      div#post{
        background: rgba(0, 0, 0, 0.5)!important;
        }

        .read-mode #aside-content .card-widget{
              background: rgba(158, 204, 171, 0.5)!important;
            }
        .read-mode div#post{
            background: rgba(158, 204, 171, 0.5)!important;
            }

            [data-theme="dark"]
              .read-mode #aside-content .card-widget{
                    background: rgba(0, 0, 0, 0.5)!important;
                    color: #ffffff;
                  }
            [data-theme="dark"]
              .read-mode div#post{
                  background: rgba(0, 0, 0, 0.5)!important;
                  color: #ffffff;
                  }

                /*时间轴自定义*/
                  svg.icon {
                    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
                     width: 1em; height: 1em;
                     /* width和height定义图标的默认宽度和高度*/
                     vertical-align: -0.15em;
                     fill: currentColor;
                     overflow: hidden;
                  }

                   /*聊天区框大小*/
                   .tk-input[data-v-619b4c52]
                     .el-textarea__inner{
                       min-height: 210px !important;
                     }
                     .el-textarea__inner:focus{
                         background-image: none !important;
                      }
